.Dashboard {
    height: 100vh;
    width: 100%;
    display: table;
    padding-bottom: 100px;
}

.Dashboard__add__wallets {
    text-align: center;
}

.Dashboard__raw-wallet__buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.Dashboard__raw-wallet__container {
    width: 30%;
    display: inline-block;
}
